@font-face {
    font-family: "Moderne Sans";
    src: url(fonts/MODERNE\ SANS.ttf);
}

:root {
    --background-color: #252222;
    --text-color: #fff;
    --x-color: #b11c1c;
    --o-color: #fff;
    --cell-color: #2c2c2c;
    --status-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 1fr 60vh 1fr;
    grid-template-columns: 1fr 60vh 1fr;
}

.board {
    display: grid;
    grid-area: 2/2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.turn {
    grid-area: 1/2;
    align-self: flex-start;
    justify-self: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
}

.status {
    grid-area: 2/2;
    align-self: center;
    justify-self: center;
    font-size: 5rem;
    font-weight: bold;
    outline: none;
    background-color: var(--status-color);
    border-radius: 30px;
    box-shadow: var(--status-color) 0 0 50px 50px;
    opacity: 90%;
    color: var(--text-color);
}

.cell {
    font-family: "Moderne Sans";
    outline: none;
    border: none;
    background-color: var(--cell-color);
    font-size: 10rem;
}

.xInside,
.oInside {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.xInside {
    background-image: url(./svgs/x.svg);

}

.oInside {
    background-image: url(./svgs/o.svg );
    background-size: 85%;
    background-position: center;
}

.playerOne {
    grid-area: 2/1;
}

.playerTwo {
    grid-area: 2/3;
}

.playerOne,
.playerTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerOne>label,
.playerTwo>label {
    color: var(--text-color);
    font-size: large;
    font-weight: bold;
}

.playerOne>input,
.playerTwo>input {

    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 30%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    color: #161616;
    transition: #f4f4f4 70ms cubic-bezier(.2, 0, .38, .9),
        outline 70ms cubic-bezier(.2, 0, .38, .9);

}


.playerOne>input:focus,
.playerTwo>input:focus {
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}

.restart {
    align-self: flex-start;
    margin-top: 20px;
    justify-self: center;
    cursor: pointer;
    grid-area: 3/2;
    color: white;
    background-image: url(./svgs/restart.svg);
    background-color: transparent;
    background-size: 100% 100%;
    outline: none;
    border: none;
    width: 6rem;
    height: 6rem;

}

.restart:hover {
    filter: brightness(70%);
}